<h3 class="text-center font-weight-bold">Movie List</h3>
<app-new-film></app-new-film>
<h3>To watch list:</h3>
<div *ngIf="isFetching" class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>
<ng-container *ngIf="!isFetching">
  <app-film *ngFor="let cinema of films; let i = index" [routerLink]="[i]" [film]="cinema"></app-film>
</ng-container>
