<div class="border border-dark rounded p-2 my-3 row">
  <h5 class="col-8 col-md-10">
    Movie name: {{ film.name }},
  </h5>
  <button (click)="onClick()" class="btn btn-danger col-4 col-md-2">Delete</button>
</div>
