<form class="input-group mb-3" (ngSubmit)="addFilm()">
  <label for="movieName"></label>
  <input type="text" class="form-control" name="movieName" id="movieName" placeholder="Enter movie name" #movieNameInput>
  <div class="input-group-append">
    <button class="btn btn-primary" id="basic-addon2">Add</button>
  </div>
</form>
